services:
  store:
    container_name: dash-store
    image: redis
    command: /bin/sh -c "redis-server /usr/local/etc/redis/redis.conf --appendonly yes --requirepass $REDIS_PASS"
    volumes:
      - ./redis-data:/data
      - ./config/redis.conf:/usr/local/etc/redis/redis.conf

  database:
    container_name: dash-database
    image: postgres:14-alpine
    environment:
      - POSTGRES_PASSWORD=$PG_PASS
      - POSTGRES_USER=$PG_USER
      - POSTGRES_DB=$PG_DB
    volumes:
      - ./pg-data:/var/lib/postgresql/data
      - ./config/pg_hba.conf:/var/lib/postgresql/data/pg_hba.conf
      - ./config/postgresql.conf:/var/lib/postgresql/data/postgresql.conf
      - ../server/src/db/scripts:/docker-entrypoint-initdb.d
      - ./database-backup:/psql-backups
    command: ["postgres", "-c", "log_statement=all"]
    # TODO (DAS-55) track doesn't have this, but I don't think it hurts to leave
    # it in here.
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "$PG_USER", "-d", "$PG_DB"]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    container_name: dash-server
    image: seerden/dash:${SERVER_TAG:-latest}
    depends_on:
      - database
      - store
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
      - PORT=5000
      - IS_TEST_ENVIRONMENT=false
      - DOMAIN=seerden.app
    command: ["node", "./dist/server.js"] 

  nginx:
    container_name: dash-nginx
    image: nginx:latest
    ports:
      - "80:80" 
      - "443:443"
    depends_on:
      - server
    volumes:
      - ../docker/config/nginx.conf:/etc/nginx/conf.d/default.conf:ro 
      - /etc/letsencrypt/:/etc/letsencrypt
    restart: always